.hero {
   margin-top: 60px;
   height: 130px;
}

.heroTitles {
   display: flex;
   align-items: center;
   flex-direction: column;
   font-family: 'Open Sans', sans-serif;
   color: #444;
}

.heroTitleSm {
   position: absolute;
   top: 17%;
   font-size: 18px;
   border-bottom: solid 2px #a7a4a4;
}

.heroTitleLg {
   position: absolute;
   font-size: 54px;
   top: 21%;
   padding: 0;
}